<a href="https://colab.research.google.com/github/aivrm/rosy/blob/main/csv_%EC%B9%B4%EB%93%9C%EC%86%8C%EB%B9%84_%EC%97%85%EC%A2%85%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
plt.rc('font', family='NanumGothic')

In [ ]:
BASE_DIR = '/content/drive/MyDrive/_aiffel/_dataton/CrdCnsmptn/csv/'

In [ ]:
df1 = pd.read_csv(BASE_DIR + '카드소비 업종코드.csv', encoding='cp949')

In [ ]:
df1

   업종코드(UPJONG_CD) 대분류(CLASS1)  중분류(CLASS2) 소분류(CLASS3)
0            ss001       요식/유흥           한식          한식
1            ss002       요식/유흥     일식/중식/양식          일식
2            ss003       요식/유흥     일식/중식/양식          양식
3            ss004       요식/유흥     일식/중식/양식          중식
4            ss005       요식/유흥  제과/커피/패스트푸드         제과점
..             ...         ...          ...         ...
70           ss084   스포츠/문화/레저    스포츠/문화/레저          스키
71           ss090       교육/학원           학원      입시보습학원
72           ss091       교육/학원           학원       외국어학원
73           ss092       교육/학원           학원       예체능학원
74           ss093       교육/학원           학원     취미/전문학원

[75 rows x 4 columns]